block head
    meta(charset="utf-8")
    title Brad Walker - Dev
    link(rel="stylesheet", type="text/css", href="css/reset.css")
    link(rel="stylesheet", type="text/css", href="css/global.css")
    link(rel="stylesheet", type="text/css", href="css/index.css")
