html(lang="en")
    head
        meta(charset="utf-8")
        title Brad Walker - UI/UX Developer and Designer
        link(rel="stylesheet", type="text/css", href="/css/app.css")
        script(type="text/javascript", src="/js/app.js")
    body
        head
            ul.nav
                li
                    a(href="/index.html") Home
                li
                    a(href="/work.html") Work
                li
                    a(href="/contact.html") Contact Me
        block content
