html(lang="en")
    head
        meta(charset="utf-8")
        title Brad Walker - UI/UX Developer and Designer
        include includes/head-dev
    body
        header
            .title
                h2 Brad Walker
                span.tagline UI/UX Developer
            ul.nav
                li
                    a(href="/index.html") Home
                li
                    a(href="/work.html") Work
                li
                    a(href="/contact.html") Contact Me
        block content
        footer
            include includes/scripts
